
 * {
  border: 1px solid purple;
} 


html {
  height: 100vh;
  width: 100vw;
  margin: 0%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0%;
  overflow-y: scroll;
} 

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Text~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.h1-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  height: 100%;
}

h1 {
  display: flex;
  align-items: center;
  color: rgb(34, 87, 122);
  margin: 0%;
}

h2 {
  display: flex;
  color: white;
  margin: 0%;
  margin-left: .5em;
}

p {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 0%;
  margin-bottom: -.2em;
  padding-left: .5em;
  font-size: 20pt;
  color: white;
}


#uhOhText {
  display: flex;
  justify-content: flex-end;
  flex-shrink: inherit;
  font-size: 65pt;
  text-align: center;
}

#rainText,
#cantFindText {
  display: flex;
  font-size: 30pt;
  text-align: center;

}

#refreshText,
#backHomeText,
#trySearchText {
  display: flex;
  font-size: 20pt;
  text-align: center;
  padding-top: 1em;
  cursor: pointer;
}

#backHomeText:hover{
  color: rgb(128, 237, 153);
}


.login-text,
.sign-up-text,
.book-room-text,
.home-text-book-room,
.login-text-book-room{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 1em;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

#homeTextLogin,
#signUpTextLogin,
#bookRoomTextLogin,
.foot-seperator{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding-left: 1em;
  color: rgb(34, 87, 122);
  background: none;
  border: none;
  cursor: pointer;
}


.re-direct-text{
  display: flex;
  color: rgb(34, 87, 122);
  padding-top: .3em;
  padding-left: 0%;
}

#weHelpText{
  display: flex;
  justify-self: center;
  align-self: center;
  font-size: 70px;
  margin-left: -3.3em;
}

#refreshText,
#backHomeText,
#trySearchText{
  flex-shrink: inherit;
  padding-left: 2em;
  background: none;
  border: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dashbaord Style Containers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */



.main-container,
.book-a-room-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../images/palm-leaves.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0%;
  overflow-y: scroll;
   overflow-x: scroll;
}


.main-container-upper-wrapper,
.book-a-room-main-container-upper-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  height: 50%;
  width: 100%; 
  background-image: url("../images/infinity-pool.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0cm;
  margin: 0%;
}

.book-a-room-main-container-upper-wrapper{
  background-image: url("../images/mountain-view.png");
}

.hotel-name-wrapper{
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  height: 30px;
  width: 65%;
  padding-right: 1em;
}

.menu-wrapper{
  display: flex;
  align-items: flex-end;
  height: 30px;
  width: 35%;
}

.main-container-lower-wrapper,
.book-a-room-main-container-lower-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  margin: 0%;
  overflow-y: scroll;
}


.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 40px;
  background-color: rgba(	199,	249,	204, 0.3);
  margin: 0px;
}

.footer-wrapper{
display: flex;
justify-content: flex-end;
align-items: center;
height: 100%;
width: 50%;
padding-right: .5em;
}

.left-side-lower-wrapper,
.book-a-room-right-side-lower-wrappe {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 40%;
box-sizing: border-box;
}

.feature-image-container,
.book-a-room-feature-image-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: inherit;
flex-grow: inherit;
background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/bed-side.png");
background-repeat: no-repeat;
background-size: cover;
filter: drop-shadow(2px 3px 3px grey);
height: 340px;
width: 355px;
margin: .5em;
background-position: 0cm;
box-sizing: border-box;
}

.book-a-room-feature-image-container{
background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("../images/window-room.png");
}


.right-side-lower-wrapper,
.book-a-room-left-side-lower-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 70%;
  box-sizing: border-box;
}

.right-side-grid,
.book-a-room-left-side-grid {
    display: grid;
    grid-template-columns: .33fr .33fr .33fr;
    grid-template-rows:  33px 33px 33x;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    }

  .head-grid2,
  .head-grid7,
  .head-grid9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .new-trips-container,  
  .past-trips-container,
  .points-earned-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 87, 122 , .3);
    filter: drop-shadow(2px 3px 3px #C7F9CC);
    height: 230px;
    width: 230px;
    margin: .5em;
    box-sizing: border-box;
  }

  .new-trips-container{
    margin-bottom: -100px;
  }

  .past-trips-container,
  .points-earned-container {
    margin-top: -100px;
  }


  #newTripsWrapper,  
  #pastTripsWrapper,
  #pointsEarnedWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(254,	254,	254, .3);
    height: 210px;
    width: 210px;
    box-sizing: border-box;
     overflow-y: scroll;  
  }

.b-head-grid5{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.search-calendar-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  color:rgb(34, 87, 122);
  height: 30px;
  width:100px;
  background: none;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Redirect Page Style Containers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    .redirect-container {
      display: grid;
      background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../images/umbrella-404.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      grid-template-columns: .33fr .7fr .33fr;
      grid-template-rows:  50fr 30fr 20fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
      width: 100%;
      height:100%;
      margin: 0%;
    }

    .redirect-grid2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .redirect-grid5 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
    }

    #uhOh1,
    .redirect-grid1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      font-size: 100pt;
      margin-right: -70px;
      padding-bottom: .7em;
    }

    #uhOh2 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      height: 100%;
      width: 100%;
      padding-bottom: 1em;
    }

    #four04Text{
      font-size: 100pt;
      padding-bottom: .2em;
      padding-left: 0%;
    }
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Redirect Page Style Containers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

    h3 {
      font-size: 13px;
      margin: 7px 0px;
  }
  
  .login-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-image: url('../images/pool2.png');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 96vh;
      width: 100vw;
      overflow: hidden;
  }
  
  .pcon {
      width: 370px;
      height: 450px;
      border: 1px solid #C7F9CC;
      box-shadow: 2px 1px 5px black;
      border-radius: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      backdrop-filter: blur(5px);
      background-color: rgba( 56, 163, 165, 0.7);
      color: #C7F9CC;
      transition: all 1s ease;
  }
  
  .pcon:hover {
      background-color: rgba(34, 87, 122, 0.7);
      transition: all 1s ease;
      text-shadow: 2px 1px 5px black;
  }
  
  .textfield {
      height: 40px;
      width: 270px;
      text-indent: 10px;
      border-radius: 10px;
      border: none;
  }
  
  .textfield:focus {
      outline: 2px solid #C67C66;
  }
  
  .loginBtn {
      height: 50px;
      width: 274px;
      margin-bottom: 10px;
      border: 2px solid #C7F9CC;
      border-radius: 10px;
      background-color: #57CC99 ;
      color: white;
      transition: all 600ms ease-out;
  }
  
  .loginBtn:hover {
      background-color: rgba(56, 163, 165, .7);
      cursor: pointer;
  }
  
  .loginBtn:active {
      color: black;
      background-color: white;
  }
  
  .inputs {
      margin: 35px 0px;
  }
  
  
  .forgot {
      position: relative;
      transform: translate(175px, 0px);
      font-size: 10px;
      text-decoration: underline;
  }
  
  .forgot:hover {
      color: white;
      cursor: pointer;
  }
  
  
  .checkbox {
      margin-top: 20px;
      font-size: 13px;
      margin-left: 5px;
      font-weight: bold;
  }
/* ~~~~~~~~~~~~~~~~~~aux~~~~~~~~~~~~~~~~~~~~~~ */
.hidden {
  display: none;
}



